---
title: About Us
description: >-
  We are two friends who have known each other since middle school. One took the career path as an Electrical Engineer
  while the other took a path as a Software Engineer.

postcontent: >-
    When Pete decided to get his Private Pilot License at the age of 41 he naturally
    wanted to use his general aviation headset with X-Plane and PilotEdge.net's Live ATC for practice. Looking at the
    existing options on the market costing $90-$120 he thought - that's insane! So, instead of spending a $100, he
    took his RadioShack soldering iron from high school and asked John about things like noise filtering and DC-DC
    converters. Thousands of dollars and uncountable hours later - their wives are putting up with pallets in the basement.

---

<ul class="staff">
	{% for person in site.staff_members %}
		<li>
			<div class="square-image"><img src="{% include relative-src.html src=person.image_path %}" alt="{{ person.name }}"/></div>
			<div class="name">{{ person.name }}</div>
			<div class="position">{{ person.position }}</div>
		</li>
	{% endfor %}
</ul>
