<nav>
	<a class="nav-toggle" id="open-nav" href="#">&#9776;</a>
	<a class="editor-link btn" href="_data/navigation.yml" class="btn"><strong>&#9998;</strong> Edit navigation</a>
	{% for link in site.data.navigation %}
		{% assign class = "" %}
		{% if link.highlight %}
			{% assign class = class | append: " highlight" %}
		{% endif %}

		{% if link.link == page.url %}
			{% assign class = class | append: " active" %}
		{% endif %}

		{% if link.children %}
			<span class="nav-dropdown{{ class }}">
				<a href="{% include relative-src.html src=link.link %}" class="nav-dropdown-toggle">{{ link.name }} <span class="caret">&#9662;</span></a>
				<span class="nav-dropdown-menu">
					{% for child in link.children %}
						<a href="{% include relative-src.html src=child.link %}" class="nav-dropdown-item">
							<span class="nav-dropdown-item-name">{{ child.name }}</span>
							{% if child.sublabel %}<span class="nav-dropdown-item-sublabel">{{ child.sublabel }}</span>{% endif %}
						</a>
					{% endfor %}
				</span>
			</span>
		{% else %}
			<a href="{% include relative-src.html src=link.link %}" class="{{ class }}" {% if link.new_window %}target="_blank"{% endif %}>{{ link.name }}</a>
		{% endif %}
	{% endfor %}
</nav>
